@{
    ViewBag.Title = "3D Print Submission Application";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>This application is used to monitor the usage of 3D printing, allowing users to submit prints digitally and the fabrication process to be tracked.</h2>
            </hgroup>
            <p>
                This Application is designed to give a view of what the particular makerbot farm is up to, and give Farmers a means of tracking and administering their machines.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Think of a great design!</h5>
        Or nab one off a website. All you need to do is submit a print through the web interface. 
        @Html.ActionLink("Click to get started!", "Index", "PrinterTypes")
    </li>

    <li class="two">
        <h5>Watch the Print Queue</h5>
        The DM Office will be monitoring the printers and sending off parts as fast as possible, updating your print status as they go.
    </li>

    <li class="three">
        <h5>Pick up your Print from the DM Office</h5>
        Eventually your print will complete, or we will have reached the maximum number of authorized attempts.
        You can look at the print log for your print to see what happened.
    </li>
</ol>
