@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This Application is designed to give a view of what the particular makerbot farm is up to, and give Farmers a means of tracking and administering their machines.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Think of a great design!</h5>
        Or nab one off a website. All you need to do is submit a print through the web interface. 
        @Html.ActionLink("Click to get started!", "Index", "PrinterTypes")
    </li>

    <li class="two">
        <h5>Let the Print Lackeys do the rest!</h5>
        The DM Office Lives to Serve. Don't waste tedious time fabricating, this is what tuition was for!
    </li>

    <li class="three">
        <h5>Pick up your Print from the DM Office</h5>
        The wage slaves will send you an e-mail when your print is Complete. (Or failed horrendously. Why? Who Knows!)
        <a href="http://www.youtube.com/watch?v=2XID_W4neJo">Sometimes things just don't work out the way you hope</a>
    </li>
</ol>
