@{
    ViewBag.Title = "Yale School of Architecture 3D Print Submission";
}

<style>
    table {
        margin-left: auto;
        margin-right: auto;
    }
    td {
        text-align: center;
        font-size: large;
    }
</style>

<h2>Welcome to the @ViewBag.Title Application</h2>

<table class="table">
    <tr>
        <td>
            <a href=@Url.Action("SubmissionSelection", "PrinterTypes")>
                <img src="@Url.Content("/Content/StaticIcons/archive-insert-2.png")" alt="Submit a print Icon" width="200" />
                <br />
                Submit a print!
            </a>
        </td>
        <td></td>
        <td>
            <a href=@Url.Action("Index", "PrinterTypes")>
                <img src="@Url.Content("/Content/StaticIcons/appointment-new.png")" alt="Printers Icon" width="200" />
                <br />
                Look at queues
            </a>
        </td>
    </tr>
</table>
