
@{
    ViewBag.Title = "System Status";
}

<h2>System Status</h2>

<div id="CompactActivePrinters">
    @Html.Action("CompactActivePrinters", new { id = @Url.RequestContext.RouteData.Values["id"] })
</div>

<div id="CompactWaitingPrints">
    @Html.Action("CompactWaitingPrints")
</div>
