@{
    ViewBag.Title = "Create";
}

<h2>Submit New Makerbot Print</h2>

@using (Html.BeginForm())
{
    <p>
        @Html.LabelFor(model => model.Title)
        @Html.LabelFor(model => model.Title)
    </p>
}
