@model IEnumerable<MakerFarm.Models.PrinterType>

@{
    ViewBag.Title = "Index";
}

<h2>Select Printer Type to Submit Print</h2>

<table class="table">
@foreach (var item in Model)
{
    <tr>
        <th>
            
        </th>
        <th>
            <a href=@Url.Action("Create", "Prints", new { id = item.PrinterTypeId }, null)>@item.TypeName</a>
</th>
    </tr>
    <tr>
        <td valign="top">
            <a href=@Url.Action("Create", "Prints", new { id = item.PrinterTypeId }, null)>
                <img src="@Url.Content(item.PrinterIcon)" alt="Image" height="100" />
            </a>
        </td>
        <td>
            <a href=@Url.Action("Create", "Prints", new { id = item.PrinterTypeId }, null) style="color: black; text-decoration: none;">
                @if (item.AboutPrinter != null && !item.AboutPrinter.Equals("")){
                    foreach (string s in item.AboutPrinter.Split('\n'))
                    {
                        <p>@s</p>
                    }
                }
            </a>
            <br />
            @if (item.HyperLink != null && !item.HyperLink.Equals(""))
            {
              <a href="@item.HyperLink">Read More...</a>  
            }         
</td>
    </tr>
    <tr>
        <td colspan="2"><hr /></td>
    </tr>
}
    
</table>
